@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* MangadexReader */

.rootPane {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;
}

.topPane {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.bottomPane {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: calc(100vh - 40px);
    margin: 1em;
}

.navigator {
    display: flex;
    flex-grow: 1;
}

.reader {
    display: flex;
    flex-grow: 11;
}

/* AuthPanel */

.authPanelForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.authLabel {
    margin: 1em;
    margin-right: 0em;
}

.authInput {
    margin: 1em;
}

.loginButton {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Navigator */

.search {
    display: flex;
    flex-direction: column;
}

.metadata {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

/* Reader */

.reader {
    display: flex;
    justify-content: space-between;
}

.params, .advancedParams {
    display: flex;
    flex-direction: column;
}

/* Arrow */

.arrow {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

/* Page */

.page {
    display: flex;
    flex-grow: 11;
    justify-content: center;
}