@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* MangadexReader */

.rootPane {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}

.topPane {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.bottomPane {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: auto;
}

.navigator {
    display: flex;
    flex-grow: 1;
}

.reader {
    display: flex;
    flex-grow: 11;
}

/* AuthPanel */

.authPanelForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loginPanel {

}

.bearerPanel {

}

.authLabel {
    margin: 1em;
    margin-right: 0em;
}

.authInput {
    margin: 1em;
}

.loginButton {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Navigator */

/* Reader */